.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 30px 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #0d0d0e;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #181818;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 20px 35px 0px;
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #F77E21, #FAC213);
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background:linear-gradient(-135deg, #F77E21, #FAC213);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  .check-box{
    margin:15px 0;
  }
  .check-box a{
    text-decoration:none;
    color:rgb(101, 103, 239);
  }
  .check-box a:hover{
    color:rgb(14, 18, 125);
  }
  #loginform
  {
    left:-1000px;
   position: absolute;
  }
  #registerform
  {
    left:10px;
    position: absolute;
  }
  #loginform{
    display:block;
  }
  form .button1{
    height: 45px;
    margin: 35px 20px 35px 0px;
  }
  /* .button1{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #F77E21, #FAC213);
  } */
  /* 
  /* .button1 input{
    text-align:center;
    background:transparent;
    border:none;
    color:white;
    font-size:20px;
  } */
  
  
.logo-image img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
}


.iconn{
  position:absolute;
  top:5px;
  left:10px;
  width: 13%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}